:root {
  --rk-colors-accentColor: hsl(56 100% 47%); /* Yellow instead of orange */
  --rk-colors-accentColorForeground: black;
}

.dark {
  --rk-colors-accentColor: hsl(56 100% 47%); /* Yellow instead of orange */
  --rk-colors-accentColorForeground: black;
}
